{% extends "admin/change_list.html" %}
{% load i18n cms_static static %}

{% block admin_change_list_document_ready %}
{{ block.super }}

{% endblock %}


{% block extrahead %}
    {{ block.super }}
    {# INFO: we need to add styles here instead of "extrastyle" to avoid conflicts with adminstyle #}
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.base.css' %}">
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.pagetree.css' %}">
    <script>
        var url = "{% static "djangocms_pageadmin/" %}";
    </script>
    <script src="{% static_with_version 'cms/js/dist/bundle.admin.base.min.js' %}"></script>
    <script src="{% static_with_version 'cms/js/dist/bundle.admin.pagetree.min.js' %}"></script>
    <script src="{% static_with_version 'cms/js/dist/bundle.admin.pagetree.min.js' %}"></script>
    <script src="{% static 'djangocms_pageadmin/js/actions.js' %}"></script>
{% endblock extrahead %}


