# test libraries
coverage
pyflakes>=2.1.1
flake8
isort
mock
factory_boy
beautifulsoup4
lxml
django-classy-tags<2.0.0
django-sekizai<2.0.0
https://github.com/divio/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
git+git://github.com/divio/djangocms-versioning.git#egg=djangocms-versioning
git+git://github.com/FidelityInternational/djangocms-version-locking.git#egg=djangocms-version-locking
