
.btn.cms-page-admin-action-btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 10px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 34px;
    margin-top: -12px !important;
    position: relative;
    height: 34px;
    bottom: -6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

ul.cms-pagetree-dropdown-menu-inner li {

    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    list-style-type: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px 6px;
}

ul.cms-pagetree-dropdown-menu-inner li:hover {
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0bf;
}

ul.cms-pagetree-dropdown-menu-inner li:hover a.btn {
    color: #fff !important;
}

ul.cms-pagetree-dropdown-menu-inner li:hover a.btn img {
    color: #fff !important;
}

ul.cms-pagetree-dropdown-menu-inner li a.btn {
    border: none !important;
    background-color: transparent !important;
}
ul.cms-pagetree-dropdown-menu-inner li a.btn:hover {
    background-color: transparent !important;
}
ul.cms-pagetree-dropdown-menu-inner li a.btn.inactive {
    cursor: not-allowed;
    pointer-events: none;
}

a.btn.cms-page-admin-action-btn {
    line-height: 15px !important;
    vertical-align: 50%;
}
a.btn.cms-page-admin-action-btn:hover, a.btn.cms-page-admin-action-btn.open {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)!important;
}

a.btn.cms-page-admin-action-btn img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

a.btn.cms-page-admin-action-btn.inactive {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.cms-version-locked-status-icon img {
    width: 20px;
    height: 20px;
}

.field-list_actions {
    position: relative;
}

.cms-icon-menu {
    cursor: pointer;
}
.cms-icon-menu.closed .cms-pagetree-dropdown-menu {
    display: none;
}
.cms-pagetree-dropdown-menu.closed {
    display: none;
}
.cms-pagetree-dropdown-menu.open {
    display: block;
    width: 200px;
}
.cms-icon-menu.closed:before {
    font-family: 'django-cms-iconfont';
    content: "\E015";
}

.field-url {
    min-width: 100px;
    word-break: break-all;
    white-space: normal !important;
}

