/*-------------------------------------
 General page admin styles
---------------------------------------*/

/* ensure certain columns aren't too wide */
.field-get_title {
    min-width: 250px;
    word-break: break-word;
    white-space: normal !important;
}

.field-url {
    min-width: 100px;
    word-break: break-all;
    white-space: normal !important;
}
.cms-version-locked-status-icon img, .cms-page-admin-home img {
    width: 15px;
    height: 15px;
}
.cms-icon-menu {
    cursor: pointer;
}
